<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/static/css/learning.css">
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="alt">
            <h1><a href="{{ url_for('home.home') }}">전과자들</a></h1>
            {% include 'navbar.html' %}
        </header>
    </div>
    <div class="container">
        <div class="text-area">
            <div><img src="/static/img/헬멧.jpg" alt="헬멧" width="200" height="200">헬멧 착용은 필수</div>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
            <p>시뮬레이션 입니다</p>
        </div>
    </div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.scrollex.min.js"></script>
<script src="/static/js/jquery.scrolly.min.js"></script>
<script src="/static/js/browser.min.js"></script>
<script src="/static/js/breakpoints.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/formValidation.js"></script>
</body>
</html>